<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
<aside id=comments>
    <div>
        <h2> Comments </h2>
    </div>
    <div id="container"></div>
    <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
    <!--
    <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
    -->
    <script src="https://res.cloudinary.com/martinliu/raw/upload/static/gitment.browser.js"></script>
    <script>
        var gitment = new Gitment({
            owner: 'martinliu', //github account
            repo: 'martinliu.github.io', // github repo
            oauth: {
                client_id: '38201339656382b3131c',
                client_secret: 'dfbe6c4e90c57f32ba9dc7a4367de9fd0a701e9c',
            },
        })
        gitment.render('container')
    </script>
</aside>
</div>
