<footer id="site-footer">
  {{ if or (.Site.Params.footer.rssFooter) (.Site.Params.footer.socialFooter) }}
      <ul class="socnet-icons">
        {{ if .Site.Params.footer.rssFooter }}{{ partial "rss-icon" . }}{{ end }}
        {{ if .Site.Params.footer.socialFooter }}{{ partial "socnet-icon" . }}{{ end }}
      </ul>
  {{ end }}
  <p class="copyright">
    {{ (.Site.Copyright | safeHTML) | default (print "\u00A9 " .Site.LastChange.Year " " (.Site.Params.author | default .Site.Title)) }}
      <br>
    {{ i18n "attribution" . | safeHTML }}
  </p>
</footer>
<a id="back-to-top" href="#" class="fas fa-arrow-up fa-2x"></a>
<script src="/js/elastic-apm-rum.umd.min.js"></script>
<script>
  elasticApm.init({
    serviceName: 'Martin-Blog-Cloudflare',
    environment: 'production',
    serviceVersion: '1.6.5',
    breakdownMetrics: 'true',
    serverUrl: 'https://b1c7fb0e25894d4db3cabb678546c24f.apm.ap-east-1.aws.elastic-cloud.com:443',
  })
</script>