<!-- One -->
<section id="one" class="wrapper style1 special">
	<div class="inner">
		<header class="major">
			<h2>《DevOps实践指南》之-工作三步法</h2>
			<p>在本书的姊妹篇《凤凰项目》里，已经用案例的形式向我们展示了DevOps工作三步法的实施过程，很多人戏称那本书附录里的工作三步法是此书的干活亮点。而工作三步法的实施道路却是在本书里通过一本书的篇幅描述的。</p>
		</header>
		<ul class="icons major">
			<li><span class="icon  fa-long-arrow-right major style1"><span class="label">第一步-流动原则</span></span>
			</li>
			<li><span class="icon fa-undo major style2"><span class="label">第二步-反馈原则</span></span>
			</li>
			<li><span class="icon fa-leanpub major style3"><span class="label">第三步-持续学习与实验原则</span></span>
			</li>
		</ul>
	</div>
</section>
