{{ define "main" }}
<div class="container" role="main">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {{ $baseurl := .Site.BaseURL }}
            <div>
                <h5 id="wc">字数：{{ .FuzzyWordCount }} |大约阅读时间 {{ .ReadingTime }} 分钟</h5>
                <h5 id="tags">标签: {{ range .Params.tags }}
                    <a href="{{ $baseurl }}/tags/{{ . | urlize }}">{{ . }}</a> &nbsp;{{ end }}
                </h5>

            </div>
            <article role="main" class="blog-post">
                {{ replace .Content "<!--adsense-->" (partial "adsense-inarticle.html" .) | safeHTML }}
                    <a href="https://mp.weixin.qq.com/s/elRqbNlidJzmKCejBwtsAg" target="_blank">
                    <img src="/images/sref-zs.jpg" alt="SRE Foundation 招生简章" />
                    </a>
            </article>
            

            <ul class="pager blog-pager">
                {{ if .PrevInSection }}
                <li class="previous">
                    <a href="{{ .PrevInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .PrevInSection.Title }}">&larr; {{ i18n "previousPost" }}</a>
                </li>
                {{ end }} {{ if .NextInSection }}
                <li class="next">
                    <a href="{{ .NextInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .NextInSection.Title }}">{{ i18n "nextPost" }} &rarr;</a>
                </li>
                {{ end }}
            </ul>
            <div>
                {{ $related := .Site.RegularPages.Related . | first 5 }} {{ with $related }}
                <h2>See Also</h2>
                <ul>
                    {{ range . }}
                    <li>
                        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                    </li>
                    {{ end }}
                </ul>
                {{ end }}
            </div>
            

            <!-- gitcomments -->
            

        </div>
    </div>
    </section>
</div>
{{ end }}